.background-img {
    background: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/a-guide-to-cooped-up-cooking-1585331788.jpg?crop=0.826xw:0.826xh;0.0881xw,0&resize=768:*');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 999;
    position: relative;

    .sign-up {
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 50px;

        h1 {
            color: white;
            font-weight: 400;
            text-transform: capitalize;
            font-size: 60px;
            position: relative;
            z-index: 9999;
        }

        &-box {
            text-align: left;
            color: white;
            width: 100%;
            padding: 50px 0;

            h2 {
                margin-top: 0;
                font-size: 22px;
                text-transform: capitalize;
            }

            p {
                font-weight: 500;
            }

            form {
                input {
                    outline: none;
                    border: none;
                    padding: 10px 0 10px 7px;
                    width: 97%;
                    color: black;
                    margin-bottom: 5px;
                }

                .err {
                    margin: 0em;
                }

                // .create-acc {
                //     width: 30%;
                //     margin-top: 10px;
                //     padding: 10px 0;
                //     border: 1px solid white;
                //     background-color: transparent;
                //     color: white;
                //     position: relative;

                // }

                .btn {
                    width: 30%;
                    margin-top: 10px;
                    margin-right: 10px;
                    padding: 10px 0;
                    border: 1px solid white;
                    background-color: transparent;
                    color: white;
                    position: relative;
                    opacity: 1;
                    display: inline-block;
                    text-align: center;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 500;
                    transform: scale(1);
                    transition: all 1s;

                    &:hover,
                    &:focus {
                        background-color: white;
                        color: black;
                        outline: none;
                    }
                }

                .continue {
                    transform: scale(0);
                    opacity: 0;
                }
            }
        }

        .skip {
            margin: 15px 0 15px 15px;
            display: inline-block;
            color: grey;
            font-size: 12px;
        }
    }

    .home {
        width: 100%;
        position: absolute;
        bottom: 0px;
        display: none;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: transparent;



        &:hover {
            background-color: darken(white, 5%);
        }
    }

    .active {
        animation-name: home;
        animation: home 1.5s ease-out 1s;
        animation-fill-mode: forwards;
        text-decoration: none;
        font-size: 34px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        bottom: 0;
        width: 100%;
        font-weight: 400;
        color: black;
    }

    @keyframes home {
        0% {
            height: 0px;
            background-color: transparent;
        }

        100% {
            height: 15vh;
            opacity: 1;
            background-color: #fcf4ec;
        }
    }
}