.recipe-card {
  position: absolute;
  top: 70px;
  padding: 20px;
  text-align: left;
}
.recipe-card-container {
  position: relative;
}
.recipe-card-container__title h2 {
  font-size: 28px;
  margin: 0px 0 20px 0;
}
.recipe-card-container__img {
  position: relative;
}
.recipe-card-container__img img {
  width: 100%;
  border-radius: 10px;
}
.recipe-card-container__img a {
  background: rgba(0, 0, 0, 0.8);
  padding: 15px 0;
  width: 100%;
  border-radius: 0 0 10px 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
.recipe-card-container__ingredients p {
  font-weight: 700;
}
.recipe-card-container__ingredients ul {
  list-style: decimal;
  padding-left: 30px;
  font-weight: 500;
}
.recipe-card-container__ingredients ul li {
  margin-bottom: 10px;
}
