.recipe-card {
    position: relative;
    top: 70px;
    padding: 20px;
    text-align: left;

    &-container {

        




        &__title {
            img {
                width: 100%;
            }
        }
    }
}