.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
}
.header-container {
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.3);
  padding: 15px;
}
.header-container-main-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container-main-location h3 {
  margin: 0;
  font-family: 'Lora';
}
.header-container-main-location h3 a {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
}
.header-container-main-input {
  display: none;
  transition-property: all !important;
  transition-duration: 2s !important;
  position: relative !important;
  top: -110px;
}
.header-container-main-input input {
  display: none;
}
.active .list {
  height: 50vh;
  overflow: auto;
}
.active input {
  display: block;
  outline-style: none;
  background: #fff;
  border-style: none;
  width: 100%;
  padding-bottom: 10px;
  color: black;
  margin-top: 20px;
  font-weight: 500;
  font-family: 'Quicksand';
}
