@import './Components/SignUp/SignUp.css';
@import './Components/Header/Header.css';
@import './Components/RecipieCard/RecipieCard.css';
@import './Components/autoComplete/autoComplete.css';
@import './Components/RecipeCardDetails/RecipeCardDetails.css';
@import './Components/Home/Home.css';



/* body {
  background: #fcf4ec;
} */

.App {
  text-align: center;
  font-family: 'Quicksand';
  background: white;
}

a:hover {
  cursor: pointer;
}

.App .back-btn {
  position: fixed;
  top: 20px;
  z-index: 999;
  text-align: left;
  left: 0;
  display: inline-block;
  text-decoration: none;
  color: black;
  cursor: pointer;
  width: 20%;
  font-weight: 500;
  padding: 5px 0 5px 10px;
}

.App .back-btn div {
  font-size: 16px;
}

.App .back-btn i {
  margin-right: 5px;
}