.results {
  position: relative;
  top: 50px;
}
.results a {
  text-decoration: none;
  color: black;
}
.results a .recipie-card {
  margin-top: 70px;
}
.results a .recipie-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 10px auto;
  box-shadow: 0 1px 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: white;
}
.results a .recipie-card-container__img img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}
.results a .recipie-card-container__text {
  width: 90%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  font-weight: 500;
  text-align: left;
}
.results a .recipie-card-container__text-title {
  flex: 0 1 70%;
}
.results a .recipie-card-container__text-title h4 {
  margin: 0;
  font-weight: 500;
}
.results a .recipie-card-container__text-time {
  display: flex;
  flex: 0 1 30%;
  flex-direction: column;
  justify-content: space-between;
}
.results a .recipie-card-container__text-time p {
  font-size: 14px;
  margin: 0;
}
.results a .recipie-card-container__text-time span {
  font-weight: bold;
}
.results .load-more {
  background: white;
  margin: 0;
  padding: 20px;
  font-weight: 500;
  font-size: 18px;
  display: block;
  margin-top: 20px;
}
@media screen and (max-width: 350px) {
  .results {
    display: flex;
    flex-wrap: wrap;
    top: 70px;
  }
  .results a {
    flex: 1 1 40%;
  }
  .results a .recipes .recipie-card {
    margin-top: 0;
  }
  .results a .recipes .recipie-card-container__text {
    flex-direction: column-reverse;
    padding: 10px;
    height: 100px;
  }
}
@media screen and (min-width: 768px) {
  .results {
    display: flex;
    flex-wrap: wrap;
    top: 50px;
  }
  .results a {
    flex: 1 1 40%;
  }
  .results a .recipes .recipie-card {
    margin-top: 0;
  }
  .results a .recipes .recipie-card-container {
    height: 330px;
  }
}
